extends layout

block content
	h1= title
	form(action="/login", method="post", class="well")
		label Account name:
		input(name="account_name", type="textbox")
		label Account key: 
		input(name="account_key", type="textbox")
		br
		button(type="submit", class="btn") Login
	p
		| Want to run Azure Storage Admin on your machine? Download the 
		a(href="https://github.com/duplikey/azure-storage-admin", target="_blank") source code
		|  on github!
	p
		| Do you have new features requests? Did you find a bug? Contact me on 
		a(href="http://www.twitter.com/duplikey", target="_blank") twitter
		|  or open an 
		a(href="https://github.com/duplikey/azure-storage-admin/issues", target="_blank") issue
		|  on github!